div.todoList {
  width: 250px;
  background-color: rgb(149, 178, 168);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin: 20px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

p.listTitle {
  font-weight: bold;
}

div.renderTodos {
  width: 100%;
  background-color: rgba(240, 248, 255, 0.213);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button.addTodoBtn {
  width: 100%;
  margin: 20px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}
