<div class="backdrop" (click)="toggleDialog()"></div>
<dialog open>
  <form>
    <div class="input">
      <label for="title">Todo Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="inputTitle" />
    </div>
    <div class="input">
      <label for="summary">Descriptions</label>
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="inputDescription"
      ></textarea>
    </div>
    <button (click)="toggleDialog()">Close</button>
  </form>
</dialog>
