<div class="backdrop" (click)="closeDialog()"></div>
<dialog open>
  <form>
    <div class="input">
      <div class="closeBtndiv">
        <button (click)="closeDialog()">X</button>
      </div>
      <label for="title">Todo Title</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="inputTitle"
        placeholder="{{ inputTitle }}"
      />
    </div>
    <div class="input">
      <label for="summary">Descriptions</label>
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="inputDescription"
        placeholder="{{ inputDescription }}"
      ></textarea>
    </div>
    <select name="todoList" id="todoList" (change)="selectList()">
      @for (todoList of todoLists; track $index) { @if(todoList.listId ===
      currentList.listId){
      <option value="{{ todoList }}" selected>
        {{ todoList.listName }}
      </option>
      }@else {
      <option value="{{ todoList }}">{{ todoList.listName }}</option>
      } }
    </select>
    @if(action === 'create'){
    <button (click)="createTodo(inputTitle, inputDescription)">
      Create Todo
    </button>
    }@else if (action === 'edit') {
    <button (click)="editTodo()">Edit Todo</button>
    <button (click)="deleteTodo()">Delete Todo</button>
    }
  </form>
</dialog>
